
<div class="container-fluid">
  <div class="rodape"  >
      <div class="row">
          <div class="col" id="logo" >
            <%= image_tag("/logo.png", :size=> "70x70") %>
            </div>
            <div class="col text-center" id="golias">
               <h6>Desenvolvido por Sttefani Ribeiro</h6>
            </div>
            <div class="col text-center" id="golias">
               <p><strong>Contato</strong></p>
               <p> 95 991143501 </p>
            </div>
      </div>
  </div>
</div>

<style>
  div.rodape{
    padding: 0;
    margin:0;
    box-sizing:border-box;
    height:70px;
    width:100%;
    color:white;
    background-color:black;
    position:absolute;
  }
 
<style>
  
  